<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="otro-component">
  <template>
    <style>
      :host {
        display: block;
        background-color: blue;
        color: white;
      }
    </style>
    <h2>Hello otro me llamo [[name]]</h2>
      <input type ="text" value ="{{name::input }}" />
      <input type ="range" min="18" max="100" value ="{{edad::input }}"/>
    <h2>y tengo otro [[edad]] años</h2>
    <p>Buenas otro [[prop1]] </p>
  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class OtroComponent extends Polymer.Element {
      static get is() { return 'otro-component'; }
      static get properties() {
        return {
          name: {
            type: String,
            value: 'Juan 1'
          },
          edad: {
            type: Number,
            value: 50
          }
        };
      }
    }

    window.customElements.define(OtroComponent.is, OtroComponent);
  </script>
</dom-module>
