<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../otro-component/otro-component.html">


<dom-module id="demo-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello me llamo [[name]]</h2>
    <h2>y tengo [[edad]] años</h2>
    <p>Buenas [[prop1]] </p>
    <otro-component></otro-component>
  </template>



  
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComponent extends Polymer.Element {
      static get is() { return 'demo-component'; }
      static get properties() {
        return {
          name: {
            type: String,
            value: 'Miguel 1'
          },
          edad: {
            type: Number,
            value: 40
          }
        };
      }
    }

    window.customElements.define(DemoComponent.is, DemoComponent);

  </script>
</dom-module>
